* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fafafa;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #000000;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 20px;
}

h2 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 10px;
}

input {
  color: #000
}
button {
  color: #000;
  border-radius: 10px;
  padding: 10px;
}

.store-item {
  max-width: 400px;
  margin: auto;
  text-align: center;
}
.store-item a {
  text-decoration: none;
}
img {
  width: 300px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
}

.store-container {
  display: flex;
  flex-direction: row;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container form button {
  margin: auto;
}
.cart {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cartH2 {
  padding-bottom: 30px;
}

.checkout {
  margin-top: 20px;
}