{% extends 'base.html' %}

{% block head %}
<title>Product</title>
{% endblock %}

{% block body %}
<div class="product-container">
  <h2>{{itemName}}</h2>
  <div class="image-placeholder"></div>


  <p class="price">{{itemPrice}}</p>
  <p>{{itemContent}}</p>
  <form action="" method="post">
    <input type="hidden" value="{{itemID}}" name="ID">
    <input type="hidden" name="price" value="{{itemPrice}}">
    <input type="number" name="quantity">
    <button type="submit" name="add-to-cart"></button>
  </form>
</div>


{% endblock %}
